<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventX</title>
    <meta name="description" content="Cadastre seus eventos de forma rápida e fácil!">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/script.js"></script>
</head>
<body>
    <section id="header"></section>
    <main class="main-index">
        <section>
            <h2>Bem Vindo-ao EventX</h2>
            <p>
                Cadastre seu evento e alcance um público maior!
            </p>
            <a href="/views/cadastro.html">
                Cadastre seu Evento
            </a>
        </section>
    </main>
    <section id="footer"></section>
</body>
</html>