<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a EventX</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/script.js"></script>
</head>

<body>
    <section id="header"></section>
    <main>
        <section>
            <h2>
                Transformando Ideias em Grandes Celebrações!
            </h2>
            <p>
                Criamos eventos personalizados que refletem a sua visão e superam expectativas. Do planejamento à
                execução, cuidamos de cada detalhe para que você aproveite momentos inesquecíveis com tranquilidade e
                sofisticação.
            </p>
        </section>



        <section>
            <h3>Nossa missão</h3>
            <p>
                Proporcionar experiências inesquecíveis por meio da criação e organização de eventos personalizados,
                cuidando de cada detalhe com dedicação, criatividade e excelência. Nosso objetivo é transformar sonhos
                em realidade, superando expectativas e garantindo momentos únicos para nossos clientes.
            </p>
        </section>

        <section>
            <h3>Nossa visão</h3>
            <p>
                Ser referência no mercado de eventos, reconhecida pela inovação, qualidade e compromisso com a satisfação
                dos clientes. Buscamos constantemente aprimorar nossos serviços, trazendo novas tendências e soluções
                para criar celebrações inesquecíveis
            </p>
        </section>

        <a href="/views/contato.html">
            Iniciar conversa
        </a>
    </main>
    <section id="footer"></section>
</body>

</html>