* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 12vh;
}


.navigator {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    gap: 8px;  
}

.navigator > a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    gap: 10px;
}

.cadastro-formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.cadastro-formulario > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.contato-formulario > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
